@font-face {
  font-family: Roboto;
  src: url(fonts/roboto/Roboto-Regular.woff);
}

*{
  font-family: 'Roboto', sans-serif;
  color: #cecce5;
}

body{
  /*background-color: #00000A;*/
  background: linear-gradient(312deg, #0e001e, #4e2f81, #0e001e, #00cbe1);
  background-size: 800% 800%;
  -webkit-animation: bganim 54s ease infinite;
  -moz-animation: bganim 54s ease infinite;
  animation: bganim 54s ease infinite;
}

@-webkit-keyframes bganim {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}
@-moz-keyframes bganim {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}
@keyframes bganim {
    0%{background-position:0% 41%}
    50%{background-position:100% 60%}
    100%{background-position:0% 41%}
}

.lg-brand{
  width: 160px;
  margin: auto;
}

.social-wrap{
  min-width: 270px !important;
}

.social-icons{
  margin: 4px;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  font-size: 1rem;
  color: #cecce5!important;
  border-radius: 8px;
  padding-top: 10px;
  background-color: rgba(49, 46, 92, 0.99);
  transition: background-color 0.8s;
}

.social-icons:hover{
  background-color: rgba(49, 46, 92, 0.4);
}

.h-100{
  height: 100%;
}

.nav-separate{
  border-top: solid 0.1px #CBA1FC;
  min-height: 60px;
}

.h_nav_link{
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.card{
  border: 1px solid #312E5C;
  /*background-color: #242244;*/
  background-color: rgba(203, 161, 252, 0.13);
}

.card-title{
  color: #CBA1FC;
  padding-left: 1.1rem;
  border-left: solid 12px #CBA1FC;
}

.card-text{
  font-size: 0.8rem !important;
}

a {
    color: #CBA1FC;
    text-decoration: none;
    background-color: transparent;
    margin-top: 1px;
    transition: all 0.5s;
}

a:hover{
  color: #f1e6fe;
}

.menh{
    border-top: solid 8px #CBA1FC);
    font-variant: small-caps;
}

.menh:hover{
    border-top: solid 8px rgba(203, 161, 252, 0.3);
}

p .card-text-01{
  font-size: 10px !important;
}

.card-body{
  padding-top: 2rem;
}

img{
  width: 100%;
  margin: 0px !important;
  padding: 0px !important;
}

h6{
  font-size: 0.9rem;
  font-weight: lighter;
  margin-bottom: 2.5rem;
  color: #f1e6fe;
}

.form-control{
  border: 1px solid #bdbbdd;
  background-color: #cecce5;
}

.btn-outline-secondary {
    color: #cecce5;
    border-color: #cecce5;
}

.btn-outline-secondary:hover {
    color: #242244;
    font-weight: bold;
    border-color: #CBA1FC;
    background-color: #CBA1FC;
}

.text-muted{
  font-weight: lighter !important;
  font-size: 2.5rem;
  color: #f1e6fe !important;
}

.line_separate{
  margin-top: 3rem !important;
  padding-top: 2.5rem !important;
  border-top: solid 1px #312E5C;
}

.display-4{
  line-height: 3rem;
  margin-top: 6px;
}

.list-group-item{
  margin-bottom: -2px;
  background-color: rgba(0, 0, 10, 0);
  /* border: 1px solid rgb(61, 206, 199);
  border-bottom: solid #312E5C;*/
  border-bottom: solid rgba(98, 167, 216, 0.2);
  border-top-color: rgba(0, 0, 0, 0.0001);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgba(0, 0, 0, 0.0001);
  border-right-style: solid;
  border-right-width: 1px;
  border-left-color: rgba(0, 0, 0, 0.0001);
  border-left-style: solid;
  border-left-width: 1px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  color: #cecce5;
}

.list-group-item:hover{
  background-color: rgba(203, 161, 252, 0.1);
  color: #cecce5;
}

.fa, .far, .fas {
  color: #62a7d8;
  /*color: #CBA1FC;*/
}

@media (max-width: 600px) {
  .nav-separate{
    border-top: solid 0.1px #CBA1FC;
    min-height: 400px;
  }
}
